.quiz-index{
    padding: 20px; 
}

.quiz-index-title {
    font-size: 22px;
    text-align: center;
}


.quiz-index div, h1, a{
    padding: 10px;
}

.quiz-index-link {
    padding: 10px; 
    font-size: 20px;
}
.quiz-index-link:hover{
    cursor: pointer;
    color: green;
}

.results{
    
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 8px;
    padding: 5px; 
    border-radius: 5px;
    color: white;
    background-color: green;
}

.results:hover{
    color: white;
    background-color: #2c9c3f;
    
}