.quiz-index{
    padding: 20px; 
}

.quiz-index-title {
    font-size: 22px;
    text-align: center;
}


.quiz-index div, h1{
    padding: 10px;
}

.quiz-index-link {
    padding: 10px; 
    font-size: 20px;
}
.quiz-index-link:hover{
    cursor: pointer;
    color: green;
}

.results{
    padding: 10px;
}

.results:hover{
    color: #70d9e4;
}