.new-quizzes-div {
    margin-top: 20px;
    margin-left: 10px;
    display: flex;
    justify-content: space-evenly;
   
}

.new-quizzes-div > div {
   border-radius: 10px;
    background-color: lightgray;
    text-align: center;
    padding-top: 15px;
    height: 2070px;
    overflow-y: scroll;
}

.new-quizzes-header, .quiz-form-header {
    font-size: 25px;
    margin-bottom: 17px;
    margin-top: 4px;
}


.new-quizzes-directory {
    width: 20%;
}


.new-quizzes-links {
    width: 86%;
    height: 85%;
    border-radius: 10px;
    background-color: white;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: left;
    overflow-y: scroll;
}



.quiz-form {
    // border-radius: 10px;
    background-color: white;
    margin: auto;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 95%;

}

.quiz-form-box {
    width: 80%;

}

.new-quizzes-links > div:hover {
    cursor: pointer;
    color: navy;
}

.quiz-form > input {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.quiz-form > label {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

.input-form-answers {
        margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-top: 5px;
}

.input-form-answers > input {
    width: 49%;
    margin-top: 5px;
}

.create-quiz-submit {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 40px;
    margin-top: 15px;
    margin-bottom: 30px;
}