.hands-img{
    width: 100%;
}

.splash-div {
    margin-top: 20px;
    margin-left: 10px;
    display: flex;
    justify-content: space-evenly;
}

.splash-div > div {
    border-radius: 10px;
    text-align: center;
    padding-top: 15px;
    height: 500px;
}

.quizzes-taken-header {
    font-size: 25px;
    margin-bottom: 17px;
    margin-top: 4px;
    margin-left: 5px;
    
}
.questions-answered-header {
    font-size: 25px;
    margin-bottom: 17px;
    margin-top: 4px;
    text-overflow: ellipsis;
}

.data-header {
    font-size: 30px;
    margin-bottom: 15px;
}

.quizzes-taken-directory {
    width: 20%;
    border: 10px solid lightgray; 
    border-radius: 6px;
    margin-right: 30px;  
    height: 775px;
}

.questions-answered-box {
    width: 15%;
}

.main-data-div {
    width: 77%;
}

.questions-answered-list, .quizzes-taken-links {
    width: 80%;
    height: 85%;
    border-radius: 10px;
    // background-color: white;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: left;
    overflow-y: scroll;
}

.quizzes-taken-links {
}

.questions-answered-list > div, .quizzes-taken-links > div {
    margin-left: 20px;
    margin-top: 20px;
    letter-spacing: 0.5px;
}

.inner-data-box {
    width: 96%;
    height: auto;
    border-radius: 10px;
    background-color: white;
    margin: auto;
    display: flex;
}

.quizzes-taken-links > div:hover {
    color: navy;
    cursor: pointer;
}

.data-charts {
    display: flex;
    width: 800px;
    height: 700px;
    flex-wrap: wrap;
 
    
}

.recharts-surface{
display: flex;
}

.filter-buttons {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.full-question-text {
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
}

.filter-buttons > button {
    border-radius: 6px;
    // outline-width: 50px;
    // background-color: white;
    margin: 5px;
    cursor: pointer;
}

.demo-filters {
    display: flex;
    flex-direction: column;
}


.jake-result-master-div{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}

.jake-results-div {
}


.jake-results{
    display: flex;
}



.choice-text-blue{
  width: 400px;
  padding-top: 10px;
  color: rgb(0, 136, 254); 

}
.choice-text-green{
  width: 400px;
  padding-top: 10px;
  color: rgb(0, 196, 159);

}

.label-and-pie-div{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    width: 800px;
  
    margin: 0px;
}

.label-and-pie-div div {
    padding: 5px;
}

.demo-label-bolded{
    font-weight: 600;
    width: 60px;
}

.sample-size-label{
    font-size: 14px;
    width: 60px;
}

.buttons-and-text{
    display: flex;
}
.buttons-and-text div{
    width: 30%;
}

.question-text{
    line-height: 1.6;
    width: 70%;
    padding-left: 20px;
    margin-top: 10px;
    margin-right: 10px;
}

.pie-graphs{
    height: 462px;
   
    width: 800px;
    overflow-y: scroll;
    align-items: center;
    border: 10px solid lightgray;
    border-radius: 6px;

    margin-top: 25px;
}


.recharts-wrapper{
    padding: 20px;
    margin-right: 150px;
}

.question-taken-item{
    border-radius: 6px;
    margin: 10px;
    background-color: white;
}
.question-taken-item:hover{
    background-color:#70d9e4;
    outline-color: red;
    cursor: pointer;
}

.filter-button-item:hover{
    background-color:#70d9e4
}

.active {
    background-color: #70d9e4;
    color: black;
}

.legend {
    margin-left: 20px;
}

.header-question-buttons {
    border: 10px solid lightgray;
    border-radius: 6px;
}