.quiz-outer-div{
    display: flex; 
    justify-content: center;
    margin-top: 30px;
}

.quiz-outer-div form{
    width: 60%;
}

.quiz-outer-div input{
    margin-bottom: 20px;
}


.quiz-outer-div button {
    background-color:white;
    font-weight: bold;
    width: 398px;
    margin-top: 20px;
    color: black; 
    border: none;
    border-radius: 5px;
    height: 42px; 
    cursor: pointer;
    
    font-size: 16px;
 }

.quiz-outer-div button:hover {
     background-color: #aec198;
 }