.nav-bar{
    display: flex;
    justify-content: space-evenly;
    background-color:white;
    margin-bottom: 20px;
}

.space{
    width: 200px;
}

.nav-links{
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin-top: 20px;
}

.nav-links a{
    color: black;
    text-decoration: none;
    padding: 10px;
}

.nav-links a:hover{
    color: #70d9e4;
}

.nav-title{
    font-size: 32px;
    color: black;
    text-decoration: none;
    margin-top: 20px;
}

.logout-button, .go-right-to-results, .user-page-link {
    margin-top: 20px;
    color: black;
    text-decoration: none;
    padding: 10px;
    background-color: white;
    border: 0px;
    cursor: pointer;
    font-size: 13px;
}

.demo-button {
    width: 400px;
    padding: 0px; 
    color: black;
    text-decoration: none;
    padding: 10px;
    background-color: white;
    border: 0px;
    cursor: pointer;
}


.demo-button:hover{
    color: #70d9e4;
}

.logout-button:hover, .go-right-to-results:hover {
    color: #70d9e4;
}

.user-page-link:hover {
  
   color: #70d9e4;
    font-size: 14px;
}

