.hands-img{
    width: 100%;
}

.logged-out-splash-div{
    padding-top: 10%;
    display: flex;
    justify-content: center;
}

.logged-out-splash-content{
    display: flex;
    justify-content: center;
    font-size: 22px;
    width: 50%;
    text-align: center;
   
}